---
layout: page
---
{{ content }}

<div id="container"></div>
<link rel="stylesheet" href="https://gardeneden.github.io/public/liuyan/default.css">
<script src="https://gardeneden.github.io/public/liuyan/gitment.js"></script>
<script>
var gitment = new Gitment({
// 可选。默认为 location.href
  owner: 'GardenEden',
  repo: 'gardeneden.github.io',
  oauth: {
    client_id: '3f3e88ba86b90bd55c3a',
    client_secret: '22ffe472ce2c548ed3b2b7027aaebdf094d605aa',
  },
})
gitment.render('container')
</script>